<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
<h1>Регистрация нового пользователя</h1>
<form th:action="@{/register}" method="post">
    <div><label>Логин: <input type="text" name="username" required /></label></div>
    <div><label>Пароль: <input type="password" name="password" required /></label></div>
    <div><label>Повторите пароль: <input type="password" name="confirmPassword" required /></label></div>
    <div><input type="submit" value="Register"/></div>
</form>
</body>
</html>
